.progress__bar {
  animation: fadein 1s;
}
.progress__bar-2 {
  animation: fadein 2000ms;
}
.progress__bar-3 {
  animation: fadein 3000ms;
}
.progress__bar-4 {
  animation: fadein 4000ms;
}

@keyframes fadein {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes progress-bar {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.retour-acceuil {
  position: absolute;
  top: 4%;
  left: 5%;
}

.carte {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  padding-top: 50px;
  margin-top: -50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 60px;
}
.carte__titre {
  font-family: "shrikhand", sans-serif;
  font-size: 30px;
  margin-left: 20px;
}
.carte__favori {
  position: absolute;
  top: 3%;
  left: 80%;
  padding-bottom: 40px;
}

.menu-title {
  width: 60px;
  border-bottom: 3px solid #99E2D0;
  font-size: 30px;
  text-transform: uppercase;
  color: grey;
  margin-left: 20px;
  font-size: 28px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: space-between;
  margin-bottom: 40px;
}
.menu__list {
  position: relative;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  width: 95%;
  margin: auto;
  box-shadow: 2px 5px 5px black;
  margin-bottom: 30px;
}
.menu__list__name {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: larger;
  overflow: hidden;
  width: 82%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 30px;
}
.menu__list__resume {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: larger;
  overflow: hidden;
  width: 82%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 24px;
  color: grey;
}
.menu__list__price {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: larger;
  overflow: hidden;
  width: 82%;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 80%;
  top: 35%;
  font-size: 24px;
}
.menu__list__checker {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 100%;
  width: 15%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
}
.menu__list__checker__logo {
  color: white;
  position: absolute;
  top: 35%;
  left: 35%;
}
.menu__list:hover {
  transition: box-shadow 400ms, transform 400ms;
  box-shadow: 5px 10px 10px black;
  overflow: hidden;
}
.menu__list:hover .menu__list__checker {
  visibility: visible;
  transition: transform 400ms;
  transform: translateX(-100px);
}
.menu__list:hover .menu__list__price {
  transition: transform 400ms;
  transform: translateX(-100px);
}
.menu__list:hover .menu__list__checker__logo {
  transition: transform 600ms;
  transform: rotate(360deg);
}

/*# sourceMappingURL=menu.css.map */
