
.progress 
{
    &__bar 
    {
        animation: fadein 1s;
    }

    &__bar-2
    {
        animation: fadein 2000ms;
    }

    &__bar-3
    {
        animation: fadein 3000ms;
    } 
    
    &__bar-4
    {
        animation: fadein 4000ms;
    }
}

@keyframes fadein
{
    0%
    {
        transform: translateY(20px);
        opacity: 0;
    }

    50%
    {
        transform: translateY(10px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes progress-bar{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.retour-acceuil
{
    position: absolute;
    top: 4%;
    left: 5%;
}

.carte
{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(241, 241, 241);
    padding-top: 50px;
    margin-top: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 60px;
    &__titre
    {
        font-family: 'shrikhand', sans-serif;
        font-size: 30px;
        margin-left: 20px;
    }

    &__favori
    {
        position: absolute;
        top: 3%;
        left: 80%;
        padding-bottom: 40px;
    }
}

.menu-title
{
        width: 60px;
        border-bottom: 3px solid $tertiary-color;
        font-size: 30px;
        text-transform: uppercase;
        color: grey;
        margin-left: 20px;
        font-size: 28px;
        margin-bottom: 30px;
}

.menu
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(241, 241, 241);
    justify-content: space-between;
    margin-bottom: 40px;
    &__list
    {
        position: relative;
        cursor: pointer;
        background-color: white;
        border-radius: 20px;
        height: 100px;
        width: 95%;
        margin: auto;
        box-shadow: 2px 5px 5px black;
        margin-bottom: 30px;

        &__name
        {
           @include alignement-text;
           font-size: 30px;
        }

        &__resume
        {
            @include alignement-text;
            font-size: 24px;
            color: grey;
        }

        &__price
        {
            @include alignement-text;
            position: absolute;
            left: 80%;
            top: 35%;
            font-size: 24px;
        }    

        &__checker
        {
            position: absolute;
            visibility: hidden;
            top: 0px;
            left: 100%;
            width: 15%;
            height: 100%;
            overflow: hidden;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: $tertiary-color;
            &__logo
            {
                color: white;
                position: absolute;
                top: 35%;
                left: 35%;
            }
        }
        &:hover
        {
            transition: box-shadow 400ms, transform 400ms;
            box-shadow: 5px 10px 10px black;
            overflow: hidden;
            .menu__list__checker
            {
                visibility: visible;
                transition: transform 400ms;
                transform: translateX(-100px);
            }
            .menu__list__price
            {
                transition: transform 400ms;
                transform: translateX(-100px);
            }
            
            .menu__list__checker__logo
            {
                transition: transform 600ms;
                transform: rotate(360deg);
            }
        }
    }
}